<head>
    <script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="gtr-shp-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
</head>

<body>
    <nav class="ccsticky-nav topnav">
        <div class='header-block'>
            <a href="gtr-shp-home.html">
                <img class='image' src="gtr.png" alt="Smiley face" height="42" width="42">
                <div class='header-text'>
                    <div class='header-name'>
                        Web tehnologije
                    </div>
                    <div class='header-gtr-shp'>
                        Guitar shop
                    </div>
                </div>
            </a>
        </div>
        <ul class="menu-list">
            <li><a href="#" style="color: rgb(125, 120, 134);">Home</a></li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn"><a href="gtr-shp-products.html">Products</a></button>
                    <div class="dropdown-content">
                        <a href="gtr-shp-product.html">Guitars</a>
                        <a href="#">Category 2</a>
                        <a href="#">Category 3</a>
                    </div>
                </div>
            </li>
            <li><a href="gtr-shp-about.html">About us</a></li>
            <li><a href="gtr-shp-contact.html">Contact</a></li>
        </ul>
    </nav>

    <section>
        <div id='special-offers'>
            Special offers
        </div>
        <div class="slider">
            <input type="radio" name="slide_switch" id="id1" checked="checked"/>
            <label for="id1">
                <img src="gibson-les-paul.jpg" width="100" height="50"/>
            </label>
            <img src="gibson-les-paul.jpg" width="640" height="320"/>
            
            <input type="radio" name="slide_switch" id="id2"/>
            <label for="id2">
                <img src="esp-willie.jpg" width="100" height="50"/>
            </label>
            <img src="esp-willie.jpg" width="640" height="320"/>
            
            <input type="radio" name="slide_switch" id="id3"/>
            <label for="id3">
                <img src="esp-kh2.jpg" width="100" height="50"/>
            </label>
            <img src="esp-kh2.jpg" width="640" height="320"/>
            
            <input type="radio" name="slide_switch" id="id4"/>
            <label for="id4">
                <img src="esp-custom.jpg" width="100" height="50"/>
            </label>
            <img src="esp-custom.jpg" width="640" height="320"/>
            
            <input type="radio" name="slide_switch" id="id5"/>
            <label for="id5">
                <img src="esp-jh.jpg" width="100" height="50"/>
            </label>
            <img src="esp-jh.jpg" width="640" height="320">
        </div>

        <div class="small-screen-special">
            <img src="gibson-les-paul.jpg" width="100%" />
            <img src="esp-willie.jpg" width="100%" />
            <img src="esp-kh2.jpg" width="100%" />
            <img src="esp-custom.png" width="100%" />
            <img src="esp-jh.jpg" width="100%" />
        </div>


        <div id='news-section'>
            <div id='news'>
                News <br/>
            </div>
            <br/>
            <div id='news-block'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                 et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                   deserunt mollit anim id est laborum.
            </div>
        </div>
    </section>

    <footer>
        <div class='basic-info'>
            Address: Zmaja od Bosne b.b. <br/>
            Email: info@guitarshop.com <br/>
            Phone: 033/123-456
        </div>

        <div class='follow-us'>
            Follow us on <br/>
            <a href="http://www.facebook.com"><i class="icon-social-facebook icons" style="font-size: 20px;"></i></a>
            <a href="http://www.twitter.com"><i class="icon-social-twitter icons" style="font-size: 20px; padding-left: 10px; padding-right: 10px;"></i></a>
            <a href="http://www.instagram.com"><i class="icon-social-instagram icons" style="font-size: 20px;"></i></a>
        </div>
    </footer>
</body>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>